* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Poppins;
}

.navbar-container {
  height: 70px;
  display: flex;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
  height: 26px;
  max-width: 100px;
}

section {
  padding: 20px;
}

.hero-container {
  display: flex;
  flex-direction: column;
}

.hero-image {
  max-width: 400px;
  margin-top: 26px;
  margin-bottom: 0;
  align-self: center;
}

.hero-header {
  font-weight: 600;
  font-size: 36px;
  line-height: 110%;
  color: #000000;
  margin-bottom: 0;
  margin-top: 32px;
}

.hero-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 110%;
  color: #222222;
  margin-top: 16px;
}

.card-rating-section {
  margin-bottom: 8px;
  margin-top: 8px;
  align-items: center;
}

.card-star-image {
  width: 15px;
  height: 15px;
}

.card-rating {
  margin-top: 0;
  margin-bottom: 0;
  color: #222222;
  margin-left: 4px;
  margin-right: 4px;
}

.card-reviews-location {
  margin-top: 0;
  margin-bottom: 0;
  color: #918e9b;
}

.card-event-info {
  margin-top: 0;
  margin-bottom: 0;
}

.card-pricing-container {
  display: flex;
  margin-top: 8px;
}

.card-pricing-per-person {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 4px;
}

.card-pricing-text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  color: #222222;
}
